<nav class="navbar navbar-inverse navbar-fixed-bottom visible-lg">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li data-toggle="modal" data-target="#contactModal"><a>Contact</a></li>
      <li data-toggle="modal" data-target="#aboutModal"><a>About</a></li>
      <li><a>Copyright &copy; WolfPool 2018-19</a></li>
    </ul>
  </div>
</nav>

<!-- Modals -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body">
        Please send an email to <a target="_blank" href="mailto:sengncsu2018@gmail.com">sengncsu2018@gmail.com</a> for any queries
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Us</h4>
      </div>
      <div class="modal-body">
        UberPOOL and LyftLine are very efficient and affordable for travelling short distances. However, for suburban areas
        and a majority of metropolitan cities this option is not available. This is mainly due to low number of people travelling
        on the same route. The connectivity and frequency of public transportation is limited in these areas. In addition to these
        issues, there are a lot of diculties to communicate and plan the rides using social media platforms such as Facebook and
        Whatsapp. To tackle the problems mentioned above, we have devised WolfPool as a service that specically targets to enhance
        communication and convenience in planning of rides.
      </div>
    </div>
  </div>
</div>
