<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <title>WolfPool</title>
</head>
<body style="padding-top: 40px;padding-bottom: 40px;">
  {{>navbar}}
  <div class="container">
    {{{body}}}
  </div>
  {{>footer}}
</body>
</html>
