<div class="page-header">
  <h2>Following are some instructions on how to use the WolfPool service, if you still have any queries feel free to contact us.</h2>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="bs-callout">
      <h3>How to create a plan</h3>
      <ol>
        <li>Go to <a href="/"><b>Login page</b></a> if you haven't logged in already.</li>
        <li>If you are already logged in, please go to <a href="/home"><b>Search plans page</b></a>.</li>
        <li>Please enter the plan details in the form so that we can find the best matching results for you
          <ul>
            <li>The result can be sorted based on various criterias</li>
            <li>Please select one plan and then click <b>'join plan'</b> button</li>
          </ul>
        </li>
        <li><b>NOTE:</b> Follow these steps only if you didn't find matching results
          <ul>
            <li>Please confirm the details of the new plan that you are about to create</li>
            <li>Once confirmed, click on <b>'ok'</b> and the plan will be created for others to join</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="bs-callout">
      <h3>How to view your old or upcoming plans</h3>
      <ol>
        <li>Go to <a href="/"><b>Login page</b></a> if you haven't logged in already.</li>
        <li>If you are already logged in, please go to <a href="/plans_page"><b>Your trips page</b></a>. Here you can see all the details of your upcoming and past plans that you were a part of.</li>
      </ol>
    </div>
    <div class="bs-callout">
      <h3>What happens when someone joins a plan?</h3>
      Each member of the plan will receive an email notification with the details of people who are part of the plan
    </div>
    <div class="bs-callout">
      <h3>I registered but did not get the verification email</h3>
      Please wait for 5-10 minutes or check the spam folder. If you still have any issues feel free to contact us.
    </div>
  </div>
</div>
