<div class="row" style="margin-top:40px">
  <div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading" style="font-weight:bold">Hey there !!</h4>
      <p>{{data}}</p>
      <hr>
      <p><a href="/{{link}}" class="alert-link">{{name}}</a></p>
    </div>
  </div>
</div>
