<div style="margin-top: 150px;">Just checking</div>

<script>
    $(document).ready(function() {
        var x = {{res}};
        <!--console.log(JSON.stringify({{res}}));-->
        <!--console.log(JSON.parse({{res}}));-->
        console.log(x);
    });
</script>
