<div style="margin-top: 100px;">
    <form role="form" action="/search_params" name="search_additional_options" method="POST" id="additionalDetailsForm">
        <div class="form-group">
            <label for="date_id">Gender Preference</label><br>
            <input type="radio" name="gender_preference" value="0" checked> Male<br>
            <input type="radio" name="gender_preference" value="1"> Female<br>
            <input type="radio" name="gender_preference" value="2"> Anything is fine
        </div>

        <div class="form-group">
            <label for="date_id">Luggage</label><br>
            <input type="radio" name="luggage" value="0" checked> Zero<br>
            <input type="radio" name="luggage" value="1"> One<br>
            <input type="radio" name="luggage" value="2"> Two
        </div>

        <div class="form-group">
            <label for="date_id">Maximum number of people</label><br>
            <input type="radio" name="people" value="2" checked> two<br>
            <input type="radio" name="people" value="4"> four<br>
            <input type="radio" name="people" value="6"> six
        </div>
    </form>
</div>